* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  min-height: 100vh;
  background: #cfc5b2;
  font-family: "Cinzel", serif;
  background-color: #cfc5b2;
}
.containerr {
  width: 100vw;
  margin: 0 auto;
  margin-top: 120px;
}
.containerr h2 {
  width: 100%;
  color: #52464f;
  font-size: 36px;
  text-align: center;
  margin-bottom: 10px;
}
.containerr .row100 {
  position: relative;
  width: 100%;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
}
.containerr .row100 .col {
  position: relative;
  width: 100%;
  padding: 0 20px;
  margin: 30px 0 10px;
  transition: 0.5s;
}
.containerr .row100 .inputBox {
  position: relative;
  width: 100%;
  height: 40px;
  color: #52464f;
}
.containerr .row100 .inputBox input,
.containerr .row100 .inputBox.textarea textarea {
  position: absolute;
  width: 100%;
  height: 100%;
  background: transparent;
  box-shadow: none;
  border: none;
  outline: none;
  font-size: 18px;
  padding: 0 10px;
  z-index: 1;
  color: #000;
}
.containerr .row100 .inputBox .text {
  position: absolute;
  top: 0;
  left: 0;
  line-height: 40px;
  font-size: 18px;
  padding: 0 10px;
  display: block;
  transition: 0.5s;
  pointer-events: none;
}
.containerr .row100 .inputBox input:focus + .text,
.containerr .row100 .inputBox input:valid + .text {
  top: -35px;
  left: -10px;
}
.containerr .row100 .inputBox .line {
  position: absolute;
  bottom: 0;
  display: block;
  width: 100%;
  height: 2px;
  background: #52464f;
  transition: 0.5s;
  border-radius: 2px;
  pointer-events: none;
}
.containerr .row100 .inputBox input:focus ~ .line,
.containerr .row100 .inputBox input:valid ~ .line {
  height: 100%;
}
.containerr .row100 .inputBox.textarea {
  position: relative;
  width: 100%;
  height: 100px;
  padding: 10px 0;
}
.containerr .row100 .inputBox.textarea textarea {
  height: 100%;
  resize: none;
}
.containerr .row100 .inputBox textarea:focus + .text,
.containerr .row100 .inputBox textarea:valid + .text {
  top: -35px;
  left: -10px;
}
.containerr .row100 .inputBox textarea:focus ~ .line,
.containerr .row100 .inputBox textarea:valid ~ .line {
  height: 100%;
}
input[type="submit"] {
  border: none;
  padding: 7px 35px;
  cursor: pointer;
  outline: none;
  background: #52464f;
  color: #ceccc8;
  font-size: 18px;
  border-radius: 2px;
}

/* Navigation start */
nav ul li {
  font-family: var(--secondary-headings);
}
.cta {
  width: 100vw;
  height: auto;
  background-color: var(--bright-accent-color);
  color: black;
  text-align: center;
  margin: 0;
  padding: 6px;
  text-transform: uppercase;
}
.cta span {
  text-decoration: underline;
  cursor: pointer;
}

header {
  background-color: var(--bg-color);
  box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.1),
    0 4px 6px -4px rgba(0, 0, 0, 0.1);
  padding: 10px 20px;
}
header .wrapper {
  max-width: 1000px;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
}
header .logo img {
  height: 130px;
  display: block;
}

.navbar {
  position: fixed;
  top: 0;
  left: 100%;
  margin: 0;
  width: 100%;
  height: 100%;
  background-color: var(--bg-color);
  padding: 20px;
  transition: left 0.3s;
}

.navbar.show {
  left: 0 !important;
}

.hide-scroll {
  overflow: hidden;
}

.navbar ul {
  all: unset;
  list-style-type: none;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 25px;
}
.navbar ul a {
  all: unset;
  color: var(--text-color);
  cursor: pointer;
  font-size: 2.3rem;
}
.navbar ul a:hover {
  color: #111111;
  text-decoration: underline overline;
  text-decoration-thickness: 3px;
}

.close-nav {
  text-align: right;
  margin-bottom: 20px;
}
.close-nav button {
  all: unset;
  background: var(--text-color);
  font-size: 42px;
  cursor: pointer;
  border: 1px solid rgba(0, 0, 0, 0.2);
  padding: 15px;
  border-radius: 3px;
  color: #444444;
}
.close-nav button:hover {
  color: #222222;
  background: white;
}

.menu-bar button {
  border: 1px solid rgba(0, 0, 0, 0.1);
  background: var(--text-color);
  height: 50px;
  width: 50px;
  padding: 5px 10px;
  cursor: pointer;
  border-radius: 3px;
}
.menu-bar i {
  display: block;
  border-top: 3px solid #444444;
  border-bottom: 3px solid #444444;
}
.menu-bar i::after {
  display: block;
  content: "";
  border-top: 3px solid #444444;
  margin: 6px 0;
}
.menu-bar button:hover {
  background: white;
}
.menu-bar button:hover i {
  border-color: #222222;
}

.container {
  max-width: 900px;
  margin: 0 auto;
  padding: 30px;
}

@media (min-width: 550px) {
  .navbar {
    all: unset;
    display: block;
  }
  .navbar ul {
    flex-direction: row;
    gap: 20px;
  }
  .navbar ul a {
    font-size: inherit;
  }
  .close-nav,
  .menu-bar {
    display: none;
  }
}

/* Navigation end  */
